@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
/*
   El valor border-box en el box-sizing hace que el padding y el border pasen a formar parte
   del cálculo del ancho de la caja.
 */

html {
  font-size: 100%; /* 100% = 16px */
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.first-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}


#color-circle {
    fill: #f7c2a8;
    /* stroke:blue; */
}

#color-rect {
    fill:#f463d0;
}

#color-square {
    fill:#ffc335;
}

#color-line {
    stroke: #7ace84;
}

#color-text {
    fill: #178eff;
    font-family: 'Secular One', sans-serif;
    font-size: 0.5em;
}

#color-triangle {
    fill: #734dfe;
}

#color-star {
    fill:#1de5db;
}
